*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.main button{
    font-size: 2rem;
    border: 2px solid blue;
    border-radius: 1rem;
    padding: .5rem;
    background-color: green;
    color: white;
    cursor: pointer;
    z-index: 99;
}
button:active{
    scale: .99;
}
.hello{
    width: 8%;
    height: 16%;
    position: absolute;
}